Archivos de sistema.DS_StoreThumbs.dbNode y dependencias (si en el futuro usas Firebase CLI o npm)node_modules/npm-debug.log*yarn-debug.log*yarn-error.log*Archivos de compilación o temporalesdist/build/.tmp/.cache/Archivos de entorno (si en algún momento guardas llaves privadas).env.env.local.env.*.localFirebase.firebase/firestore-debug.logfirebase-debug.logVisual Studio Code (configuración local).vscode/