rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Productos
    match /products/{docId} {
      // Solo usuarios autenticados pueden leer/escribir
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      // Eliminar/actualizar solo si es el dueño
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerUid;
    }

    // Perfil de usuarios (cada quien solo su documento)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
